<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.orbital.lead" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera"></uses-feature>
    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <!--
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    -->
    <application
        android:name=".controller.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_lead"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".controller.Activity.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.Activity.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- Declaring Service -->
        <service android:name=".controller.Service.PictureService" />
        <service android:name=".controller.Service.S3Service" />
        <service android:name=".controller.Service.JournalService" />
        <service android:name=".controller.Service.ProjectService" />

        <activity
            android:name=".controller.Activity.SpecificJournalActivity"
            android:label="@string/title_activity_specific_journal"
            android:parentActivityName=".controller.Activity.MainActivity" >
        </activity>
        <activity
            android:name=".controller.Activity.PictureActivity"
            android:label="@string/title_activity_picture" >
        </activity>
        <activity
            android:name=".controller.Activity.EditSpecificJournalActivity"
            android:label="@string/title_activity_edit_specific_journal" >
        </activity>
        <activity
            android:name=".controller.Activity.AddNewSpecificJournalActivity"
            android:label="@string/title_activity_add_new_specific_journal" >
        </activity>
        <activity
            android:name=".controller.Activity.ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
    </application>

</manifest>
